.calendar-container {
  background: $container-background-color;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  box-shadow: $container-box-shadow;
}

.calendar-body {
  overflow: auto;
  width: 100%;
  height: calc(100% - 58px);
  background: $calendar-body-background-color;
}
