.material-calendar-header {
  background: $material-calendar-header-background-color;
  color: $material-calendar-header-color;
  padding: $material-calendar-header-padding;
  box-shadow: $material-calendar-header-box-shadow;
  text-align: $material-calendar-header-text-align;
  position: relative;
  z-index: 10;
}
