.material-calendar-event {
  background: $calendar-event-background;
  box-shadow: $calendar-event-box-shadow;
  width: 100%;
  position: relative;
  + .material-calendar-event {
    margin-top: 15px;
  }
  .material-calendar-title {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &.started-before,
  &.finished-after {
    &:before {
      font-size: 2rem;
      position: absolute;
      color: $calendar-event-title-color;
      right: $calendar-event-title-padding;
    }
    > .material-calendar-title {
      background: $calendar-event-title-background-warning;
    }
  }
  &.finished-after {
    &:before {
      content: "\203A";
    }
  }
  &.started-before {
    &:before {
      content: "\2039";
    }
  }
  > .material-calendar-title {
  	padding: $calendar-event-title-padding;
  	margin: 0;
  	background: $calendar-event-title-background;
  	color: $calendar-event-title-color;
  	font-size: 100%;
  }
  .material-calendar-card {
  	border-top: $calendar-material-calendar-card-border;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    .material-calendar-title {
      padding: $calendar-material-calendar-card-padding;
      display: block;
      font-size: 90%;
    }
    &.hide {
      opacity: 0;
      height: 0;
      border: 0;
      visibility: hidden;
      .material-calendar-title {
        color: transparent;
      }
    }
  }
}
