#material-calendar-loading {
    height: 7px;
    background-color: $calendar-loading-background;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: $calendar-loading-box-shadow;
    .material-calendar-progress {
        background-color: $calendar-loading-progress;
        height: 100%;
        -webkit-transition: width .6s ease;
        -moz-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
        &.error {
            background-color: $calendar-loading-progress-error;
        }
    }
}

.material-calendar-body::-webkit-scrollbar {
    width: $calendar-scroll-size;
    height: $calendar-scroll-size;
}
.material-calendar-body::-webkit-scrollbar-track {
    background-color: $calendar-scroll-background;
}
.material-calendar-body::-webkit-scrollbar-thumb {
    background-color: $calendar-scroll-color;
}
.material-calendar-body::-webkit-scrollbar-thumb:hover {
	background-color: $calendar-scroll-color-hover;
}
