// typography
$body-family-font: 'Roboto', sans-serif !default;

// global
$body-background-color: #eee !default;

// colors
$base-color-light: #5D9CEC !default;
$base-color-dark: #4A89DC !default;
$base-padding: 10px !default;

// container
$container-background-color: #fff !default;
$container-box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.5) !default;

// calendar header
$material-calendar-header-background-color: $base-color-dark !default;
$material-calendar-header-color: #fff !default;
$material-calendar-header-padding: 15px !default;
$material-calendar-header-box-shadow: $container-box-shadow !default;
$material-calendar-header-text-align: center !default;

// calendar body
$material-calendar-body-background-color: #fafafa !default;

// calendar table
$calendar-table-border: 1px solid #f1f1f1 !default;
$calendar-table-width: 0 0 1px 1px !default;
$calendar-table-color: #333 !default;
$calendar-table-padding: $base-padding !default;
$calendar-table-group-width: 200px !default;
$calendar-table-month-width: 1000px !default;

// calendar events
$calendar-event-background: #fff !default;
$calendar-event-box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.5) !default;

// calendar events > title
$calendar-event-title-background: $base-color-light !default;
$calendar-event-title-color: #fff !default;
$calendar-event-title-padding: $base-padding !default;

// calendar events > material-calendar-card
$calendar-material-calendar-card-border: 1px solid #ddd !default;
$calendar-material-calendar-card-padding: $base-padding !default;

// calendar > loading
$calendar-loading-background: #f5f5f5 !default;
$calendar-loading-box-shadow: $container-box-shadow !default;
$calendar-loading-progress: #00BCD4 !default;
