@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

* {
  outline: none;
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: inherit;
}

.calendar-header h2 {
  margin: 0;
}
.calendar-header a {
  color: inherit;
}

.calendar-link {
  color: #4A89DC;
  cursor: text;
}
.calendar-link i {
  display: none;
}

.calendar-caret-down {
  border-top: 5px solid;
  border-color: inherit;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

thead .team .toggle-all {
  text-align: center;
  display: block;
  margin-bottom: -30px;
  margin-top: 10px;
}

.calendar-container {
  background: #fff;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.5);
}

.calendar-body {
  overflow: auto;
  width: 100%;
  height: calc(100% - 58px);
  background: #fafafa;
}

.calendar-container table {
  border-collapse: collapse;
}

.calendar-table {
  height: 100%;
  white-space: nowrap;
  width: 100%;
  table-layout: fixed;
}
.calendar-table .months {
  white-space: nowrap;
}
.calendar-table .months th {
  font-size: 2em;
  text-align: center;
}
.calendar-table th {
  font-weight: lighter;
  padding: 10px;
}
.calendar-table table td {
  padding: 10px;
}
.calendar-table .team, .calendar-table .week {
  border: 1px solid #f1f1f1;
  border-width: 0 0 1px 1px;
}
.calendar-table td {
  border: 1px solid #f1f1f1;
  border-width: 0 0 1px 1px;
  vertical-align: top;
}
.calendar-table td:first-child {
  border-left: 0;
}
.calendar-table td .week, .calendar-table td table td {
  border-bottom: 0;
}
.calendar-table thead .team {
  border-bottom: 0;
}
.calendar-table .team {
  width: 200px;
  text-align: left;
  vertical-align: middle;
}
.calendar-table .month {
  width: 1000px;
  vertical-align: top;
  border: 1px solid #f1f1f1;
}
.calendar-table .weeks {
  height: 100%;
  table-layout: fixed;
  width: 100%;
}
.calendar-table .weeks th {
  text-align: right;
  color: #333;
}
.calendar-table .weeks .week {
  padding: 10px 0;
}
.calendar-table .weeks .day {
  padding: 0;
  border: 0;
}
.calendar-table tbody .month {
  padding: 0;
}
.calendar-table tbody .month,
.calendar-table tbody .month td {
  border-bottom: 0;
}
.calendar-table .days {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.calendar-table th.past {
  color: #bbb;
}
.calendar-table th.actual {
  color: #5D9CEC;
}
.calendar-table th.future {
  color: #333;
}

.btn {
  padding: 5px 10px;
  background: #4A89DC;
  color: #fff;
  border: 0;
  cursor: pointer;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.5);
}
.btn:hover {
  background: #5D9CEC;
}
.btn:active {
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.5), inset 0 1px 5px -1px rgba(0, 0, 0, 0.5);
}
.btn.btn-plus {
  font-size: 1em;
  padding: 3px 6px;
  border-radius: 50%;
}

.event .btn {
  float: right;
  margin: -15px -15px 0;
}

.event {
  background: #fff;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1;
  position: relative;
}
.event > .title {
  padding: 10px;
  margin: 0;
  background: #5D9CEC;
  color: #fff;
  font-size: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.event > .title:hover:before, .event > .title:hover:after {
  position: absolute;
}
.event > .title:hover:after {
  content: attr(data-title);
  background: rgba(0, 0, 0, 0.5);
  bottom: 100%;
  margin-bottom: 10px;
  padding: 10px;
  left: 0;
}
.event > .title:hover:before {
  content: "";
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  bottom: 100%;
  margin-bottom: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.event .card {
  border-top: 1px solid #ddd;
}
.event .card .title {
  padding: 10px;
  display: block;
  font-size: 90%;
}

.calendar-header {
  background: #4A89DC;
  color: #fff;
  padding: 15px;
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  z-index: 10;
}

/*# sourceMappingURL=material-calendar.css.map */
